@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
  background-color: #fff2fd1f;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
